.wrapper {
    width: 50%;
    height: 800px;
}

.left {
    border-right: 1px solid grey;
}

.search-input {
    display: inline-block;
    margin: 0 15px;
}

.search-wrapper {
    border-bottom: 1px solid grey;
    padding: 10px;
}

.submit-btn {
    margin-top: 10px;
    margin-left: 15px;
}
